.skin-blue .main-sidebar {
   background-color: #FF0000;
}

/* Info Box */
.infobox{
  width: 100%;
}

/* Parameters Rwo 1 */

.params_row1 {
  display: flex;
}

.params_row1_e1{
  width: 15%;
}

.params_row1_e2{
  width: 15%;
}

.params_row1_e3{
  width: 70%;
  float:right;
}

#input_row1 > div:nth-child(2){
  display:inline-block;
  margin-left: -50px;
}

#input_row1 > div:nth-child(1){
  display:inline-block;
}

#input_row1 > div:nth-child(3){
  display:inline-block;
  margin-bottom: 50px;
  margin-left: -50px;
}

#input2_row2{
  margin-top: -50px;
}
#input2_row2 > div:nth-child(2){
  display:inline-block;
  margin-left: -50px;
}

#input2_row2 > div:nth-child(1){
  display:inline-block;
}

#input2_row2 > div:nth-child(3){
  display:inline-block;
  margin-bottom: 50px;
  margin-left: -50px;
}

.selectize-input{
  width:200px;
}

#genome_size {
  width: 200px;
}

#x_minimum {
  width: 200px;
}

#x_maximum {
  width: 200px;
}

#target_coverage{
  width: 200px;
}

#coverage_plot{
  width:80% !important;
}